<h4>If the buttons here don't work:</h4>
<h6>Manual start</h6>
<pre>$ sudo dnsproxy.py -s 8.8.8.8 &lt;/dev/null &amp;&gt;/dev/null &amp;</pre>
<h6>Maunal stop</h6>
<pre>$ sudo pkill -f dnsproxy</pre>
