<style type="text/css" media="screen">
  .green {
    color: green;
  }
  .red {
    color: red;
  }
</style>
<div class="container">
  DNS Proxy is
  <% if @running %>
    <strong class="green">Running</strong>
  <% else %>
    <strong class="red">Stopped</strong>
  <% end -%>
</div>
