<style type="text/css" media="screen">
  .green {
    color: green;
  }
  .red {
    color: red;
  }
</style>

<script type="text/javascript" charset="utf-8">
  function getPassword(el){
    password = prompt("Give me your password");
    el.href = el.href + "&password=" + password;
  }
</script>

<div class="container">
  DNS Proxy is
  <% if @running %>
    <strong class="green">Running</strong>&nbsp;&nbsp;
    <a class="btn btn-primary" data-method="PUT" onclick="getPassword(this);" href="/dns?state=restart"><i class="fa fa-refresh fa-fw"></i> Restart</a>
    <a class="btn btn-danger" data-method="PUT" onclick="getPassword(this);" href="/dns?state=stop"><i class="fa fa-stop fa-fw"></i> Stop</a>
  <% else %>
    <strong class="red">Stopped</strong>&nbsp;&nbsp;
    <a class="btn btn-success" data-method="PUT" onclick="getPassword(this);" href="/dns?state=start"><i class="fa fa-play fa-fw"></i> Start</a>
  <% end -%>

  <hr>
  <h4>Host Configuration</h4>
  <textarea class="form-control" rows="10"><%= @host_configuration %></textarea>
  <hr>
  <h4>If the buttons here doesn't work:</h4>

  <br>
  Manual start
  <br><br>
  <pre>$ sudo dnsproxy.py -s 8.8.8.8 &lt;/dev/null &amp;&gt;/dev/null &amp;</pre>

  Maunal stop
  <br>
  <br>
  <pre>$ sudo pkill -f dnsproxy</pre>



</div>
