<div class="container">
	<h2>New Timer</h2>

	<div class="editor-container">
		<textarea name="markdown" class="hide"></textarea>
		<div id="editor" style="width: 500px; height: 200px;"></div>
	</div>

	<br>
	<input type="button" class="btn btn-primary" value="Start Timer"></input>
</div>

<script>
  require(['ace/ace'], function (ace) {
    var editor = ace.edit("editor");
    editor.setKeyboardHandler("ace/keyboard/vim");
    editor.renderer.setShowGutter(false);

    var textarea = $('textarea[name="markdown"]').hide();
    editor.getSession().setValue(textarea.val());
    editor.getSession().on('change', function(){
      textarea.val(editor.getSession().getValue());
      });
    editor.focus();
  })
</script>
